@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.profile {
  height: 250px;
  width: 95%;
  margin: 2px auto;
  position: relative; 
  text-align: center;
  color: #224957;
  font-family: "Roboto";
  padding: 10px 0;
  border: 2px solid #224957;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 8px #999
}

.profile > span:first-of-type {
  color: #27ae60;
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid #224957;
  display: block;
  padding-bottom: 10px;
}

.profile img {
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile p:last-child{
  font-size: larger;
  font-weight: bold;
}
.LogOut{
    font-weight: 100 !important; 
    text-decoration: underline;
}
.LogOut:hover{
    cursor: pointer;
    color: #27ae60;
}
