.bars {
  margin-left: 20px;
  margin-top: 30px;
  color: #21a092;
  /* position: absolute; */
}
.sentenc {
  color: black;
  margin-bottom: 60px;
  text-align: center;
  text-decoration: underline black;
}
.sidebar {
  background-color: #e3ebe7;
  position: relative;
  left: 0;
  position: fixed;
  min-width: 25%;
  height: 100%;
  border-right: 1px solid black;
  font-family: Raleway;
  z-index: 9;
  transition: transform 0.3s ease;
}
.sidebarHidden {
  transform: translateX(-100%);
}
.message {
  position: relative;
  right: 0px;
  top: 0px;
}
.left {
  position: absolute;
  border: 1px solid green;
}
.addchild {
  position: absolute;
  /* font-size: 50px; */
  color: #21a092;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  width: 150px;
  height: 60px;
  border: 3px solid #20df7f;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.addchild:hover {
  background: #20df7f;
  color: white;
  font-size: 1.3em;
}

.iconbar {
  margin-bottom: 30px;
  display: none;
  
}
@media (max-width: 785px) {
    .iconbar{
    display: inline;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }
}
.LogOut{
    margin-left: 100px;
    margin-top: -50px;
    font-weight: 100 !important; 
    text-decoration: underline;
}
.LogOut:hover{
    cursor: pointer;
    color: #27ae60;
}