.Post {
    border: 2px var(--SecondColor) solid;
    padding: 3px;
    margin: 5px auto;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 8px #999
    /* height: 60px; */
    
    /* text-overflow: ellipsis; */
} 
.Post input[type=checkbox]{
    appearance: none;
    border: 1px solid black;
    padding: .23em;
    cursor: pointer;
    border: none;
    margin-left: 5px;
}
.Post input[type=checkbox]:hover{
    color: var(--SecondColor);
}
.Post input[type=checkbox]::before{
    content: "see more...";
    border: none;
    text-decoration: underline;
    
}
.Post input[type=checkbox]:checked{
    display: none;
}
.Post input[type=checkbox]:checked::before{
    display: none;
}

.Post > p:first-child{
    width: 100%;
    margin: 4px;
    --max-lines : 2 ; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    overflow: hidden; 
    /* overflow: hidden; 
    text-overflow: ellipsis; */
}

.Post > p.Active{
    /* background-color: red; */
    /* height: 100px; */
    display: block;
    -webkit-box-orient:initial !important;
    -webkit-line-clamp: 100 !important;
    overflow:visible;
}
.Post > img{
    width: 100%;
    display: none;
}
.Post > img.Active{
    width: 100%;
    display: initial !important;
}

.reactionAndComment{
    text-align: right;
    display: none;
}
.reactionAndComment.Active{
    display: block;
}
.reactionAndComment span{
    margin: 2px 10px;
    cursor: pointer;
}
.reactionAndComment a{
    text-decoration: none;
    color: black;

}
.reactionAndComment span{
    font-size: 20px;

}
.reactionAndComment span:nth-child(4){
    margin-right: 2px;
}

/* .reactionAndComment{
    
} */
.Post > p:first-child:has(+ input[type=checkbox]:checked){
    display: inline-block;
    overflow: visible;
    /* background-color: red;    */
}